.question-list{
    border:1px solid #ccc;
    border-radius:6px;
    padding:20px;
}
.question-list ul{
    margin:0px;
    padding:0px;
    list-style-type: none;
    background-color:#ddd;
    padding:10px 0px;
    width:100%;
    height: 400px;
    overflow-y: scroll;
}
.question-list ul li{
    margin:5px;
    padding:5px;
}
.black-background-full{
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: #000;
    opacity: .7;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #fff;
}
#content-sort{
    list-style-type: none; 
    margin: 0; 
    padding: 5px;
    border:1px solid #ccc;
}
#content-sort li{
    list-style-type: none; 
    margin: 0 3px 3px 3px; 
    padding: 3px 5px;
    border: 1px solid #ccc;
    font-size: 1.4em; 
    background-color: #fff;
}
.subject{
    border:1px solid #444;;
    padding:5px;
    margin:2px;
    background-color: #ccc;
}
.chapter{
    border:1px solid #444;;
    padding:5px;
    margin:2px;
    background-color: #eee;
}
/* .subject-name-container{ */
    /*border:1px solid #eee;*/
/* } */
.package-container{
    max-width: 100%;
    margin:20px 0px;
    padding:5px;
    height:100%;
    min-height:20px;
    overflow: hidden;
    overflow-y: scroll;
}
.test-container{
    width:100%;
    margin:20px 0px;
    padding:5px;
    height:100%;
    min-height:20px;
    background-color: #ccc;
}
.notes{
    border:1px solid;
    padding:2px 5px;
    margin:2px;
    background-color: #ccc;
}
.test{
    border:1px solid;
    padding:2px 5px;
    margin:2px;
    background-color: #ddd;
}
.chapter-container,.notes-container{
    min-height:50px;
}
.strikeout{
    text-decoration: line-through;
}
.package-contents{
    width:100%;
    border:1px solid #ccc;
    margin-top:-1px;
    padding-top:20px;
    overflow:hidden;
    padding-bottom:20px;
    min-height: 500px;
}
.nav-pills > li.active > a{
    border-radius: 4px 0px 0px 4px;
}

.error{
    border:1px solid #ff7979;
}
.packages{
    width:48%;
    float:left;
    margin-top:40px;
    border-left:5px solid #4857c9;
    margin:1%;
    padding:20px;
    border-bottom:1px solid #ccc;
}
.clearfix{
    clear:both;
}
#page-wrapper{
    height:100%;
    overflow-y: scroll;
}
.subject-list,.chapter-list,.section-list,.difficulty-list,.topic-list{
    padding:10px 25px;
    margin:0px;
    background-color: #eee;
    color: #444;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.selected{
    background-color: #873986;
    color: #fff;
}

.custom-font {
    font-family: "Cambria Math", serif;
    font-size: 20px;
}

.chap-list {
    cursor: pointer;
}

.badge {
    background-color: #3a87ad;
}